<div class = "row justify-content-center">
    <button type = "button" class="btn btn-primary col-2 mx-4" id= "begin" >Start Battle</button>
    <button type = "button" class="btn btn-primary col-2 mx-4" id= "back" >Go Back</button>
</div>

<div class = "row space justify-content-around"> 
  {{#each characters as |character|}}
    <div class = "col-2 text-center charCard">
      <p class= "font-weight-bold">Name: {{char_name}}</p>
      <p class= "font-weight-bold ">Class: {{char_class}}</p>
      <p class = "yellow ">Health: {{char_health}}</p>
      <p class = "text-info">Attack: {{char_attack}}</p>
      <p class = "text-danger ">Strength: {{char_str}}</p>
      <p class = "text-success ">Dexterity: {{char_dex}}</p>
      <p class = "text-primary ">Intelligence: {{char_int}}</p>
      <p class = "text-secondary ">Luck: {{char_luk}}</p>
    </div>
  {{/each}}
</div>
<script src="/js/adventure.js"></script>